[submodule "fract-ol"]
	path = fract-ol
	url = ../fract-ol/
[submodule "pipex"]
	path = pipex
	url = ../pipex/
[submodule "minitalk"]
	path = minitalk
	url = ../minitalk
[submodule "libft"]
	path = libft
	url = ../libft
[submodule "printf"]
	path = printf
	url = ../printf
[submodule "get_next_line"]
	path = get_next_line
	url = ../get_next_line/
[submodule "push_swap"]
	path = push_swap
	url = ../push_swap/
[submodule "irc_hive"]
	path = irc_hive
	url = https://github.com/oliynykmax/irc_hive.git
[submodule "cpp-module"]
	path = cpp-module
	url = ../cpp-module
[submodule "inception"]
	path = inception
	url = ../inception
[submodule "minirt"]
	path = minirt
	url = ../minirt/
[submodule "minishell"]
	path = minishell
	url = https://github.com/jotuel/minishell.git
[submodule "ft_transcendence"]
	path = ft_transcendence
	url = https://github.com/v-kuu/Ping-Pong-Fullstack-25.git
